/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

:root {
  --primary-text-color: #212121;

  --primary-font-famely: "Roboto", sans-serif;
}

body {
  color: var(--primary-text-color);
  font-family: var(--primary-font-famely);
}
